# Database exports
*.sql

# Logs
*.log

# Cache
.cache/

# Vendor
/vendor/

# Environment files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db# .vscode/
# Temporary file for partial code execution
tempCodeRunnerFile.py

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml
